<!-- src/main/resources/templates/gititemedit.html -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>商品編集</title>
</head>
<body>

    <h2>商品編集</h2>

    <form action="/gititemeditok" method="post">
        <label for="productName">商品名:</label>
        <input type="text" id="productName" name="productName" required>

        <br>

        <label for="productPrice">値段:</label>
        <input type="text" id="productPrice" name="productPrice" required>

        <br>

        <button type="submit">変更</button>
    </form>

    <!-- メッセージ表示エリア -->
    <div th:if="${not #strings.isEmpty(message)}" th:text="${message}"></div>

</body>
</html>
